[MASTER]
ignore=docs
ignore_patterns=versioneer.py,*version.py,


[MESSAGES CONTROL]
disable = C0330, C0326, locally-disabled, fixme, I1101, C0116, C0103

[format]
max-line-length = 88


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=15
